# Ignore Python virtual environments
/cawt/
.venv/

# Ignore Python path files
*.pth

# Ignore output directory (relative to repo root)
output/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore all .onnx model files
*.onnx

# Ignore specific preprocessed file
data/cp-anemia/preprocessed.json
