absl-py==2.2.2
asyncpg==0.30.0
cryptography==44.0.2
fastapi==0.115.12w
matplotlib==3.9.2
mediapipe==0.10.21
numpy
opencv-python==4.10.0
pandas
pillow
psutil
pydantic==2.11.1
python-multipart==0.0.20
requests
rsa==4.9.1
scikit-image==0.25.2
scikit-learn
scipy
seaborn
shap==0.47.1
statsmodels==0.14.4
tensorboard==2.19.0
timm==1.0.14
torch==2.3.1
torchinfo
torchmetrics
torchvision==0.18.1
tqdm
uvicorn==0.34.0
